/*nav*/

.nav {
  background-color: #004237;
}

.nav--game {
  background-color: #002b23;
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center; /*alinear en el cross*/
  gap: 1em;
  max-width: 1200px;
  color: #fff;
}

.nav__container--game {
  height: 40px;
  justify-content: center;
}

.nav__title {
  font-weight: 100;
  font-size: 1.75rem;
}

.brand__title__link {
  color: #fff;
  text-decoration: none;
}

.nav__title--game {
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.nav__link:first-of-type {
  margin-left: auto;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

@media (min-width:768px) {
  .nav__title--game {
    font-size: 1.5rem;
  }
  
  .nav__container--game {
    height: 60px;
  }
}